.AddPerson {
    text-align: center;
    padding: 30px;
    margin: 2%;
    width: 46%;
    box-sizing: border-box;
    float: left;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.AddPerson input {
	display: block;
	margin : 0 auto;
}

@media (max-width: 600px){
	.AddPerson {
		padding: 30px;
	    margin: 2%;
	    width: 96%;
	  }
}